<include href="_header.html"/>

<div class="">
    <h4>{{@page}}</h4>
    <hr>

    <div class="row justify-content-evenly">
        <div class="col-12 col-md-2">        
            <div class="card-body bg-dark text-center border border-dark rounded">
                <a class="stretched-link" href="{{@BASE.@ALIASES.vendors}}">Vendors</a>
            </div>          
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-dark text-center border-none rounded">
                <a class="" href="{{@BASE.@ALIASES.vendors}}">Something</a>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-dark text-center border-0 rounded">
                <a class="" href="{{@BASE.@ALIASES.vendors}}">...</a>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-dark text-center border-0 rounded">
                <a class="" href="{{@BASE.@ALIASES.vendors}}">...</a>
            </div>
        </div>
    </div>
</div>


<include href="_footer.html"/>

