<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{@APP_NAME}}</title>
</head>
<body>
    <header>
        Nav Goes here
        <ul>
            <li>
                <a href="{{@BASE.@ALIASES.home}}">HOME</a>
            </li>
            <li>
                <a href="{{@BASE.@ALIASES.setup}}">SETUP</a>
            </li>
        </ul>
        
    </header>